nav #nav-container,
.section-row-container,
#footer-container
 {
    width: 1390px;
}

nav {
    min-height:70px;
    background-color: #ff6900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

nav #nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #nav-container #nav-category {
    min-width: 190px;
    height: 100%;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

nav #nav-container #nav-category ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #nav-container #nav-category ul li {
    list-style-type: none;
    min-width: 60px;
}

nav #nav-container #nav-category ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}

nav #nav-container #nav-logo {
    width: 150px;
}

nav #nav-container #nav-logo img{
    width: 100%;
}

nav #nav-container #nav-link{
    width: 80px;
    display: flex;
    justify-content: space-between;
}

nav #nav-container #nav-link a img {
    width: 20px;
}

main {
    margin-top: 130px;
}

.section-row-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.clothing {
    height: 100%;
    width: 31.9%;
    position: relative;
}

.visible-image {
    width: 100%;
    height: 640px;
}

.visible-image img {
    height: 100%;
}

.hover-image{
    width: 100%;
    height: 640px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.hover-image img {
    height: 100%;
}

.clothing:hover .hover-image {
    display: inline-block;
}

.heart {
    font-size: 3em;
    padding: 3% 5%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
}

.heart a {
    text-decoration: none;
    color: black;

}

.heart:hover a {
    color:red;
}

.image-text {
    height: 30px;
    width: 165px;
    position: absolute;
    top: 80%;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.image-text .discount {
    width: 30%;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

.image-text .sustainable {
    width: 60%;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.brand{
    font-size: 1.2em;
}

.type-of-dress {
    font-size: 1.5em;
    font-weight: 600;
}

.new-price, .old-price {
    font-size: 1.2em;
    font-weight:600;
}

.new-price {
    color:red;
}

.old-price {
    text-decoration: line-through;
}

footer {
    height: 110px;
    background-color: #1A1A1A;
}

footer #footer-container {
    height: 110%;
    background-color: red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #footer-container #footer-section-1 {
    height: 50%;
    width: 390px;
    background-color: yellow;
}

footer #footer-container #footer-section-2 {
    height: 50%;
    width: 145px;
    background-color: yellow;
}